pygame
dotenv
edge_tts
pyaudio
vosk
SpeechRecognition
pyttsx3
wikipedia
pywhatkit
AppOpener
selenium
webdriver-manager
opencv-python
setuptools
numpy
dlib
face_recognition_models
face_recognition

nltk
numpy
scikit-learn
pandas

mtranslate
colorama
PyAudio
pyautogui